fastapi
uvicorn
requests
beautifulsoup4
sqlalchemy
psycopg2-binary
python-dotenv
azure-storage-blob
azure-identity
openai
pdfplumber
pydantic-settings
PyMuPDF
python-docx
apscheduler
croniter
redis
aioredis
httpx
python-multipart
slowapi
pgvector
psycopg[binary]
scikit-learn
sentence-transformers
datetime
